# Binaries and Build Output
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
bin
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp
demo/bin/pipedoll/*
.sconsign*.dblite
*.dll
*.so
*.exe
*.a

# Godot Imports
.godot/
.import/

# IDE Files
.idea/
.vscode/

# MediaPipe Graphs & Models
mediapipe_graphs/
mediapipe_models/
